In [148]:
import pandas as pd
import numpy as np 


# df = pd.read_csv('I485_data_all.csv', parse_dates = ['Start_date','End_date'])
df = pd.read_csv('I485_data_all.csv')
df

,State,City,Received,Approved,Denied,Pending,Category,Year,Quarter,Start_date,End_date
0,Alabama,Montgomery,454,775,182,"1,647",Family,2019,2,01-01-2019,03-31-2019
1,Alaska,Anchorage,118,132,16,399,Family,2019,2,01-01-2019,03-31-2019
2,Arizona,Phoenix,926,796,168,"6,645",Family,2019,2,01-01-2019,03-31-2019
3,Arizona,Tucson,326,608,46,898,Family,2019,2,01-01-2019,03-31-2019
4,Arkansas,Fort Smith,159,257,18,622,Family,2019,2,01-01-2019,03-31-2019
...,...,...,...,...,...,...,...,...,...,...,...
9605,U.S. Virgin Islands,Christiansted,NaN,NaN,NaN,39,Total,2014,1,10-01-2014,12-31-2014
9606,Puerto Rico,San Juan,180,158,12,578,Total,2014,1,10-01-2014,12-31-2014
9607,Service Center,California,"1,080",230,41,"1,963",Total,2014,1,10-01-2014,12-31-2014
9608,Service Center,Nebraska,"32,787","29,837","1,129","76,691",Total,2014,1,10-01-2014,12-31-2014
9609,Service Center,Texas,"25,044","20,311",963,"81,405",Total,2014,1,10-01-2014,12-31-2014